* {
	font-family: sans-serif;
	padding:0;
	margin: 0;
}
body {
/*	background:transparent url(/images/body.gif) repeat-x fixed 0 0;*/
	padding:12px 0px;
	margin:0;
}
p {
	font-family:Verdana, sans-serif;
	font-size: 08pt;
	max-width:600px;
	text-align:justify;
}
html, body {
	height: 100%;
	font-size:10pt;
}
pre, tt, code,
kbd, samp       { font-family: monospace }
img {
	border: none;
}
h1,h2,h3 {
color:#996600;
	margin-top:0;
	padding-top:0;
}
h1 a {
	text-decoration:none;
}
dt {
font-weight:bold;
}
dd {
margin-left: 2em;
}
div#center {
/*padding: 0 0 0 160px;
width:600px;
padding: 0;
margin:0 0 0 140px;
width:800px;
position:absolute;
*/
padding-left:20px;
overflow:hidden;
}
#content_for_layout {
min-width:600px;
display:inline;

}
#headspacer {
float:left:
position:relative;
display:inline;
height:20px;
width:44em;
background-color:#D0D0D0;
margin:0 20px;
padding:0;
}
#left_gut {
	color: #000000;
	background: #D0D0D0;
display:inline;
float:left;
height:100%;
padding:20px 0px;
margin-left:20px;
text-align:center;
width:180px;
height:999px;
font-size:small;
}
#left_gut ul {
list-style:none;
margin:0px;
padding:0px;
}
#left_gut ul li{
	border-top: 3px solid white;
	display:block;
	width: 100%;
	font-weight:bold;
}
li.guttersub a{
text-align:right !important;
font-weight:normal !important;
}

#left_gut ul li a {
	color: #000000;
	background: #D0D0D0;
	font: bold 1em Arial, sans-serif; 
	padding: 2px 4px;
	text-decoration: none;
	display:block;
}
#left_gut a:hover {
	color: #000000;
	background: #996600;
}
#left_gut a:visited {
	color: #000000;
}


.footer, .push {
clear:both;
}
.footer {
margin-top:1em;
border-top:1px black solid;
height: 30px;
text-align:center;
font-size:11px;
font-weight:bold;
}

/**FORMS**/
label {
font-weight:bold;
}

label.topper {
	display:inline;
	vertical-align:top;
}

input.radio {
	margin-right: 1em;
}
fieldset {
	border:1px solid #996600;
	margin:10px 0px;
	padding:10px 0px;
	width:600px;
}
fieldset.subform {
	border:none;
}
.subform label {
	padding-left:2px;
}
.subform input {
}
.warn {
	font-size:14pt;
	font-weight:bold;
	text-decoration:italic;
	color:#800000;
}


/*search forms */
#search_container {
width:600px;
height:auto;
text-align:left;
padding:1em 0;
}
#search_container input {
display:block;
}
#search_container textarea {
font-family:monospace;
font-size:9pt;
width:36em;
height:12em;
}
div#results_container {
margin-right:30px;
width:600px;
}
#filters_container select {
vertical-align:top;
max-height:8em;
}
#filters_container legend{
font-size:12pt;
color:#996600;
margin-left:240px;
font-weight:bold;
}
#blastoptions {
display:inline;
float:right;
width: 10em;
}
#blastoptions fieldset{
border:none;
}
#blastoptions input{
}
#blastoptions fieldset label{
display:inline;
position:absolute;
padding-left:2em;
}

/* details */
div.sequence {
font-size:8pt;
}
#details td {
border-collapse:collapse;
background-color:#EEEEEE;
text-align:center;
vertical-align:top;
}
#details th {
vertical-align:top;
height:1em;
background-color:#E0F0E0;
background-position:center center;
background-repeat: no-repeat;
background-attachment:scroll;
}
#details tr {
}
#details {
}
#details span {
background-color:#E0F0E0;
padding:0 1em;
display:block;
}
ul.h_list li {
display:inline;
list-style:none;
}
tr.altrow {
background-color:#E0F0E0;
}
#details tr.main_feature  td{
background-color:#F0F090;
}
.searchtable table {
border: 2px solid #E0F0E0;
}
.searchtable th {
border: 2px solid #E0F0E0;
}
#navigate_container {
}
