<div id="nbase_header">
	<img style="float:left;" src="/images/gtlogo.gif"/>
	<div style="width:130px;height:100px;margin-top:-10px;background:transparent url('/images/cdc.jpg') no-repeat top center;float:right;text-align:center;">
	<!--<img style="position:absolute;top:2px;left:700px;" src="/images/cdc.jpg"/>-->
	</div>
	<p class="nbase_header">NBase</p>
	<p class="nbase_text">A database of <i>Neisseria</i> genomes created by the Jordan Lab, School of Biology, GIT<br/>funded by Centers for Disease Control and Prevention to advance research<br/>into the genetic causes of virulence in <i>N. meningitidis</i></p>
	<div id="tabmenu">
		<ul>
		[% menu = {
			'0'=>{label=>'home', location => "/index.cgi"},
			'1'=>{label=>'search', location => "/search.cgi"},
			'2'=>{label=>'SNPtool', location=>"/tools/snp/ShowSNPtool.cgi"},
			#'3'=>{label=>'download', location => "/search.cgi?sub=organism_data"},
			#'2'=>{label=>'viewer',location=> "/gb2/gbrowse"},
			#'3'=>{label=>'synteny',location=> "/gb2/gbrowse_syn"},
			#'4'=>{label=>'forum',location => "/forum"}
		} %]
		[% FOREACH item IN menu.keys.sort %]
		<li><a href="[% menu.$item.location %]"[% IF current == menu.$item.label %] class="current"[% END %]>[% menu.$item.label %]</a></li>
		[% END %]
		</ul>
	</div>
</div>
