<!-- left gutter layout -->
[% type='sub' %]
[% IF !load; type='load'; END %]
[% submenu = {
	'2'=>{label=>'Gene', location => "/search.cgi?$type=gene"}
	'3'=>{label=>'Protein', location => "/search.cgi?$type=protein"}
	'4'=>{label=>'Signal Peptide', location => "/search.cgi?$type=sig_peptide"}
	'5'=>{label=>'TMHMM', location => "/search.cgi?$type=tmhmm"}
	'6'=>{label=>'BLAST', location => "/search.cgi?$type=blast"}
} %]
<div id="left_gut">
<ul>
	<li> </li>
	<li>Browse</li>
	<li>
		<div id="navigate_container">
		[% PROCESS 'search/organism.tt' %]
		</div>
	</li>
	<li> </li>
	<li><a href="/search.cgi">Search</a></li>
[% IF current != 'search' %]
	<li>
		[% nodesc=1; PROCESS 'search/quick.tt' %]
	</li>
[% END %]
		[% FOREACH item IN submenu.keys.sort %]
			[% IF type == 'sub' %]
			<li style="color:red;" class="guttersub"><a href="#" onclick="javascript:sendQuery('search_container','[% submenu.$item.location %]','f_organisms')">[% submenu.$item.label %]</a></li>
			[% ELSE %]
			<li class="guttersub"><a href="[% submenu.$item.location %]">[% submenu.$item.label %]</a></li>
			[% END %]
		[% END %]
	<li>  </li>
	<li><a href="/search.cgi?sub=organism_data">Organism Data</a></li>
	<li>  </li>
</ul>
</div>
