[% action="javascript:sendQuery('results_container','search.cgi?execute=1','sub,blast,blastn,blastp,blastx,tblastn,tblastx,evalue,f_organisms')" %]
<h3>BLAST</h3>
<p>Results will be limited to selected organisms. All genomes will be searched if none are selected.</p>
<form  type="post" action=[% action %]>
<input  name="sub" type="hidden" id="sub" value="blast"/>
<div id="blastoptions">
	<fieldset>
		<label for="blastn">blastn</label>
		<input type="radio" checked="yes" name="program" id="blastn" value="blastn"/>
		<label for="blastp">blastp</label>
		<input type="radio" name="program" id="blastp" value="blastp"/>
		<label for="blastx">blastx</label>
		<input type="radio" name="program" id="blastx" value="blastx"/>
		<label for="tblastn">tblastn</label>
		<input type="radio" name="program" id="tblastn" value="tblastn"/>
		<label for="tblastx">tblastx</label>
		<input type="radio" name="program" id="tblastx" value="tblastx"/>
	</fieldset>
	<label for="evalue">max e-value</label>
	<input type="text" value="0.05" id="evalue" size=5 name="evalue"/>
</div>
<label for="blast">Sequence</label>
<textarea id="blast" name="blast" cols=20 rows=12 ></textarea>
<input  name="send" onclick="[% action %]" type="button" value="Search" />
</form>
