[% action="javascript:sendQuery('results_container','search.cgi?execute=1','sub,gene_name,gene_min,gene_max,f_organisms')" %] 
<h3>Gene Information</h3>
<form action="[% action %]" type="post">
<input  type="hidden" id="sub" gene_name="sub" value="gene"/>
<label for="gene_name">Gene Keyword</label>
  <input  id="gene_name" gene_name="gene_name" type="text" />
<label for="gene_min">Minimum Length</label>
  <input  id="gene_min" gene_name="gene_min" type="text" />
<label for="gene_max">Maximum Length</label>
  <input  id="gene_max" gene_name="gene_max" type="text" />
<input  gene_name="send" onclick="[% action %]" type="button" value="Search" />
</form>
  
