<div id="filters_container">
	[% PROCESS 'search/filters.tt' %]
</div>
<div id="search_container">
	[% IF load %]
		[% load = 'search/' _ load _ '.tt' %]
		[% PROCESS $load %]
	[% ELSE %]
		[% PROCESS 'search/quick.tt' %]
	[% END %]
</div>
<div id="results_container"></div>
