[% action="javascript:sendQuery('results_container','search.cgi?execute=1','sub,maxC,meanS,f_organisms')" %] 
<h3>Signal Peptide</h3>
<form action="[% action %]" type="post">
<input  type="hidden" id="sub" name="sub" value="sig_peptide"/>
<label for="maxC">C-score (max)</label>
  <input  id="maxC" name="maxC" type="text" size=4 />
<label for="meanS">Mean S-score (max)</label>
  <input  id="meanS" name="meanS" type="text"  size=4 />
<input  name="send" onclick="[% action %]" type="button" value="Search" />
</form>
